* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', 'Murecho', 'Quicksand', sans-serif;
    font-size: 16px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 3;
}

.brand {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.25rem;
}

.navbar li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 0.875rem;
    color: #ababab;
    padding: 0 10px;
}

.navbar li a.active {
    color: #00c3a5;
}

.navbar li a:hover {
    color: #00c3a5;
}

.drop-menu {
    display: none;
}

.drop-menu li {
    display: block;
    margin: 3px 0;
    padding: 5px;
}

.navbar li:hover .drop-menu {
    display: block;
    position: absolute;
    width: 200px;
    background: #ffffff;
}

/* First section */
.lead {
    width: 899px;
    height: 336.781px;
    margin: 83px auto 0;
}
.logo-main {
    display: block;
    margin: 0 auto;
}

.lead h1 {
    text-align: center;
    color: #00c3a5;
    font-weight: 200;
    font-size: 2.125rem;
    margin: 34px auto;
}

.grid {
    display: flex;
}

.col-2 {
    min-height: 1px;
    padding: 10px;
    letter-spacing: 1;
}

.col-2 p {
    color: #ababab;
    font-weight: 300;
}

/* Second section */

.services {
    width: 918px;
    height: 365px;
    margin: 3.75rem auto 2.5rem;
    padding: 0 1.25rem;
}

/* For Grid */
.grid {
    padding: 10px;
}

/* Tous les col-3 */
.col-3 {
    width: 274px;
    height: 295px;
    margin: auto;
    padding: 20px 20px;
    border-radius: 10px;
    color: #fff;
}
.vert {
    background: #00c3a5;
}

.blue {
    background: #4c89e5;
}

.dark {
    background: #192735;
}

.services-items {
    display: flex;
    flex-direction: column;
}

.services-items i {
    font-size: 20px;
}

.services-items h1 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 10px 0;
}

.services-items p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 1px;
}

.country h2 {
    font-size: 16px;
    font-weight: 320;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

.services-items_patients {
    margin-bottom: 70px;
}

.services-items_doctors {
    margin-bottom: 93.5px;
}

.services-items_clinic {
    margin-bottom: 40px;
}

/* section-three section global */
.global {
    display: flex;
    justify-content: space-between;
    margin: 0 296px;
}

.global-title {
    font-size: 1.3em;
    color: #00c3a5;
    font-weight: 275;
    letter-spacing: 3px;
}

.global-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 67%;
}

.global-items li {
    padding: 0 10px;
    margin: 5px 0;
    
}

 svg {
    width: 110px;
 }

 .tuotempo img {
    width: 100px;
 }

 .jameda img {
    width: 100px;
 }

.gipo img {
    width: 35px;
}

.cliniccloud img {
    width: 60px;
}

.feegow img {
    width: 85px;
}




/* stats section four */

.stats {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}

.inner {
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.inner .grid {
    margin: 0 -10px;
}

/* offices section five */

.offices {
    width: 975px;
    height: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.offices-top {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}

.offices-top h1 {
    margin: 0 0 20px;
    font-size: 1.75rem;
    letter-spacing: 3px;
    color: #00c3a5;
    font-weight: 200;
}

.offices-top p {
    color: #ababab;
    letter-spacing: 2;
}

/* Country-visited section five */

.visite {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.visite .pays {
    padding: 10px 10px;
}

.pays a {
  text-decoration: none;
  color: #615e5e;
}

.pays a img {
    width: 280px;
    margin-bottom: -6px;
}

.pays-name {
    height: 60px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 15px 10px;
    border-radius: 3px;
    border: #ebebeb solid 0.01px;
}

span {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-radius: 4px;
    background: #3d83df;
    color: #fff;
    font-size: 8.5px;
    font-weight: 500;
    letter-spacing: .02rem;
    padding: 5px 10px;
}

/* Section-four / Stats */
.stats {
    padding-top: 10px;
}

.grid-stats {
    display: flex;
    justify-content: space-between;
}

.col-2 {
    width: 50%;
}

.rigth-side {
    padding: 0%;
}

.header {
    padding: 10px;
}

.header h1 {
    font-size: 1.rem;
    color: #00b39b;
    font-weight: 200;
    letter-spacing: 2px;
}

.header p {
    color: #615e5e;
    max-width: 330px;
    font-size: .75em;
    font-weight: 400;
    margin: 22px 27px 22px 0;
}

.rigth-box {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 10px 7px;
    padding: 10px;
    width: 192px;
    height: 200px;
}

.inner_A {
    margin-top: 30px;
}

.inner_B {
    margin-bottom: 30px;
}

.box i {
    font-size: 2.1rem;
    color: #00b39b;
}

h3 {
    font-size: 1.rem;
    margin: 0.5em;
    color: #00b39b;
    font-weight: 250;
}

.box p {
    font-size: 11px;
    color: #615e5e;
    font-weight: 400;
}

.inner img {
    position: absolute;
    right: 67%;
    top: 45%;
    width: 456px;
    height: 460px;
}

/* section-five / join-us */

.join-us {
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
    height: 145px;
}

.join-us_header h1 {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 0.85em;
}

.btn {
    font-size: .75em;
    text-decoration: none;
    color: #fff;
    background: #3d83df;
    padding: 5px 20px;
    border-radius: 3px;
    letter-spacing: .04em;
    line-height: 1em;
}

/* footer */
.main-footer .footer-inner {
    font-size: 10px;
    color: #ababab;
}

.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}

.footer-inner {
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.footer-inner p {
    margin: 1.3em 0;
}